<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/css/style.css'/>

    <link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/libs/bootstrap/css/bootstrap-theme.min.css'>


    <script src="/libs/jquery/jquery-3.1.1.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>



</head>
<body>
{{> navbar}}

<div class="container">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="jumbotron">
            <h1>Hello,</h1>
            <p><i class="fa fa-github" aria-hidden="true"></i>Eventually, this will make sense :)</p>
            <p><a class="btn btn-primary-asana btn-lg" href="{{asanaAuthorizeUrl}}" role="button">Login with Asana</a></p>
        </div>
    </div>
</div>
</div>


</body>
</html>