.btn-primary-asana,.btn-primary-asana:visited {background-color:#6a67ce; color:#fff; }
.btn-primary-asana:hover {color:#a177ff;box-shadow:0 0 0 3px #d0bbff; color:#fff;}

.nav-bar-user-image {float:left; position: relative; left: -7px; top: -3px; border-radius: 50%;}