.btn-primary-asana,.btn-primary-asana:visited {background-color:#6a67ce; color:#fff; }
.btn-primary-asana:hover,.btn-primary-asana:active {color:#a177ff;box-shadow:0 0 0 3px #d0bbff; color:#fff;}

.btn-info-asana,.btn-info-asana:visited {background-color:#1aafd0; color:#fff; }
.btn-info-asana:hover {color:#a177ff;box-shadow:0 0 0 3px rgba(26,175,208,0.3); color:#fff;}


.nav-bar-user-image {float:left; position: relative; left: -7px; top: -3px; border-radius: 50%;}

.awm-section {
    border-bottom: 1px solid #f1f1f1;
    padding-top: 50px;
    padding-bottom: 60px;
}

.awm-alert {
    margin-bottom: 0px;
    border-radius: 0px;
};

.awm-sidebar { list-style: none; margin-top:65px; }
.awm-sidebar li { padding: 3px 0px; margin-top: 10px;  }
.awm-sidebar li ul { padding-left: 10px;}
.awm-sidebar li ul li { list-style:none; padding: 3px 0px; margin:0px }

img.awm-img-full-width {width:100%; height:auto;}
/**
    Manage webhooks
*/
.table-manage-webhooks tbody tr {cursor: pointer;}
.table-manage-webhooks tbody tr td { line-height: 2 !important; }

/**
    CSS Loader
*/
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    font-size: 10px;
    /*position: relative;*/
    text-indent: -9999em;
    border-top: 1.1em solid rgba(106, 103, 206, 0.2);
    border-right: 1.1em solid rgba(106, 103, 206, 0.2);
    border-bottom: 1.1em solid rgba(106, 103, 206, 0.2);
    border-left: 1.1em solid #6a67ce;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;

    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-50px;
    margin-left:-50px;

}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}