<div class="container-fluid">
    <div class="row awm-section">
        <div class="col-sm-10 col-sm-offset-1 ol-xs-12">
                <h1>Asana Webhooks Manager</h1>
                <p>
                    Asana webhooks manager (AWM) is an open source, straight forward, management tool and event handler for Asana's webhooks API.<br/>
                    It provides a complete solution to manage webhooks subscription and accept event payloads from Asana in real-time.
                </p>
                <p>
                    Consider AWM as your starting point for writing your own application logic, on top of Asana's webhook notifications mechanism.
                </p>
                <p>
                    Quickly get started by watching a <a href="#">5 minutes setup video</a> or read the <a href="#">quick start guide</a>
                </p>

                <p>
                    <a class="btn btn-primary-asana btn-lg" href="oauth/asana/login" role="button">Login with Asana</a>
                    <a class="btn btn-info-asana btn-lg" href="oauth/asana/login" role="button">Watch video</a>
                </p>
        </div>
    </div>
    <div class="row awm-section">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            <h1>Get started in no time!</h1>
            <div class="embed-responsive embed-responsive-16by9 text-center">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ntupNMWQk94" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row awm-section">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 awm-section">
            <h1>Dive deeper</h1>
            <p>
                Read the documentation to learn how you can modify and extend AWM functionality to better suit your needs.
            </p>
            <div class="col-xs-12 col-sm-4">
                <h3>Configuration</h3>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Events handling</h3>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Deployment and security</h3>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                </p>
            </div>
        </div>

    </div>
</div>