<div class="container">
    <div class="row">

        <div class="col-lg-12">

            <div class="page-header">
                <h1>Manage <small>view, add and remove webhooks</small></h1>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Workspace</th>
                            <th>Webhooks</th>
                            <th>Alerts</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="workspace in manageCtrl.workspaces track by $index">
                            <td scope="row">{{$index+1}}</td>
                            <td>{{workspace.getName()}}</td>
                            <td><span class="label label-info">32</span> Projects <span class="label label-success">15</span> Tasks</td>
                            <td><span class="label label-warning">2</span> Notices</td>
                            <td><button class="btn btn-default btn-sm" type="button" ng-click="manageCtrl.getProjects($index)">View</button></td>
                        </tr>
                        <tr ng-show="workspace.getProjects().length > 0">
                            <td colspan="5">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Project name</th>
                                        <th>Subscription</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="project in workspace.getProjects() track by $index">
                                            <td scope="row">{{$index+1}}</td>
                                            <td>{{project.getName()}}</td>
                                            <td>
                                                <button type = "button" class = "btn btn-success" ng-click="manageCtrl.asanaService.subscribe(project.getId())">Subscribe</button>
                                                <button type = "button" class = "btn btn-success" ng-click="manageCtrl.asanaService.unsubscribe(project.getId())">Unsubscribe</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr ng-repeat-end></tr>

                        </tbody>
                    </table>
                </div>
            </div>



        </div>

    </div>
</div>
